body {
    background-image: url("../assets/Assets-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: url('../assets/check.svg') !important;
}